<div id="pricing" class="section white">
  <div class="fixed-wrapper"><h1>Pricing Table</h1></div>
  <div class="container">
     
    <div class="content">          
      <div class="pricing">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="wrapper block">
              <h3 class="text-center"><i class="icon-circle-blank"></i>BASIC</h3>
              <table class="table">
                <thead>
                  <tr><th><span class="price">9</span></th></tr>
                </thead>
                <tbody>
                  <tr><td>One Time Installation</td></tr>
                  <tr><td>No reselling </td></tr>
                  <tr><td>Free Email Support</td></tr>  
                  <tr><td><a class="btn" href="#">PURCHASE NOW</a></td></tr>  
                </tbody>
              </table>
              <a href="#">
                <span class="overlay"><span class="valign"></span><i class="icon-dollar"></i></span>
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="wrapper block">
              <h3 class="text-center"><i class="icon-star"></i>PREMIUM</h3>
              <table class="table">
                <thead>
                  <tr><th><span class="price">35</span></th></tr>
                </thead>
                <tbody>
                  <tr><td>Multiple Installations</td></tr>
                  <tr><td>No reselling </td></tr>
                  <tr><td>Free Email Support</td></tr>  
                  <tr><td><a class="btn" href="#">PURCHASE NOW</a></td></tr>  
                </tbody>
              </table>
              <a href="#">
                <span class="overlay"><span class="valign"></span><i class="icon-dollar"></i></span>
              </a>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="wrapper block">                
              <h3 class="text-center"><i class="icon-trophy"></i>PRO</h3>
              <table class="table">
                <thead>
                  <tr><th><span class="price">99</span></th></tr>
                </thead>
                <tbody>
                  <tr><td>Multiple Installations</td></tr>
                  <tr><td>Allowed to use and resell</td></tr>  
                  <tr><td>Free Email Support</td></tr>  
                  <tr><td><a class="btn" href="#">PURCHASE NOW</a></td></tr>  
                </tbody>
              </table>
              <a href="#">
                <span class="overlay"><span class="valign"></span><i class="icon-dollar"></i></span>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>