<div class="search">
  <i class="icon-search"></i>
  
  <form id="search" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleSearch">
    </div>
  </form>
</div>