<%= javascript_include_tag "cart" %>
<div class="search">
  <a href="javascript:void(0)" id="test-aaa" total_nub=0><i class="icon-shopping-cart">购物车(0)</i></a>
</div>

<div id="cart-content" class="search" style="margin-top: 80px;">
  <div class="content" style="width: 350px; background-color: #f5f5f5;">
    <ul class="list-unstyled">
      <li style="margin-top: 2px;">
        <div class="row">
          <div class="col-md-9">
            <%= image_tag "portrait1.jpg", size: "40x40", class:"img-rounded" %>
            香甜雪梨天山派dsdsPOS 18M11B 聚合物防爆电芯
          </div>
          <div class="pull-right" style="margin-right: 38px;">
            <h4><strong style="color: red;">￥12</strong><small> x6</small></h4>
            <p class="text-right"><a href="#" class="btn-primary btn-xs">删除</a></p>
          </div>
        </div>
      </li>
      <li style="margin-top: 2px; background-color: rgba(199, 234, 229, 0.47);">
        <div class="row">
          <div class="col-md-9">
            <%= image_tag "portrait1.jpg", size: "40x40", class:"img-rounded" %>
            香甜雪梨天山派dsdsPOS 18M11B 聚合物防爆电芯
          </div>
          <div class="pull-right" style="margin-right: 38px;">
            <h4><strong style="color: red;">￥12</strong><small> x6</small></h4>
            <p class="text-right"><a href="#" class="btn-primary btn-xs">删除</a></p>
          </div>
        </div>
      </li>      
      <li style="margin-top: 2px;">
        <div class="row">
          <div class="col-md-9">
            <%= image_tag "portrait1.jpg", size: "40x40", class:"img-rounded" %>
            香甜雪梨天山派dsdsPOS 18M11B 聚合物防爆电芯
          </div>
          <div class="pull-right" style="margin-right: 38px;">
            <h4><strong style="color: red;">￥12</strong><small> x6</small></h4>
            <p class="text-right"><a href="#" class="btn-primary btn-xs">删除</a></p>
          </div>
        </div>
      </li>
    </ul>
    <br />
    <div class="total-contat row">
      <div class="col-md-7">
        <p class="text-right">共 <strong style="color: red;">20</strong> 件商品</p>
      </div>
      <div class="col-md-5">
        <p>共计: <strong style="color: red;">￥120</strong></p>
      </div>
      <button class="btn pull-right" style="margin-right: 25px;">去购物车结算</button>
      <button class="btn pull-right" id="add-cont-button" style="margin-right: 25px;">继续购物</button>
    </div>
  </div>
</div>