<div id="contact" class="section">
  <div class="fixed-wrapper">
    <h1>添加 & 水果</h1>
  </div>
  <div class="container">
    <div class="content">
      <%= render 'form' %>
    </div>
    
  </div>
</div>

<!-- <%= link_to 'Back', f_posts_path %> -->