// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#InputCheck {
  float: none;
  width: 20px;
  margin-left: 10%;
}

.InputCheck-title {
  margin-top: -35px;
  margin-left: 15%;
}

.link_login_user {
  margin-left: 60%;
}